body {
      margin: 0px;
      border: 0px;
      padding: 0px;
}

#map {
      height: 100%;
      width: 100%;
      position: absolute;
}

#feedback {
	  width: 50%;
	  max-width: 50%;
	  max-height: 10%;
	  padding:.75em;
	  position: absolute; top: 10px; left: 25%;
	  z-index: 100;
	  background-color:#fbfbfb;
	  border: none;
	  font-family: sans-serif;
	  color: #333;
	  display:none;
}

#feedback-controls {
		   margin-top:.5em;
		   text-align:right;
		   //border-top:solid thin;
}

#footer { 
    text-align:right;
    font-size:11px;
    margin:0px;
    padding:15px;
    padding-bottom:30px;
    background-color:#fbfbfb;
    position: absolute; right: 0px; bottom: 0px;
    border-top: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
    opacity: .9;
    min-width:30%;
}

#footer a { 
    color:#666;
    font-weight:700;
}

.leaflet-control-attribution {
			     background-color:#fbfbfb !important;
			     border: none;
			     margin-bottom: .5em !important;
			     margin-right: 15px !important;
}

input[type=text] {
		 padding: .18em;
}

button {
       border: solid thin;
       color:#333;
       padding:.23em;
       padding-left:.5em;
       padding-right:.5em;
}
