body {
      margin: 0px;
      border: 0px;
      padding: 0px;
}

#map {
      height: 100%;
      width: 100%;
      position: absolute;
}

#footer { 
    text-align:right;
    font-size:11px;
    margin:0px;
    padding:15px;
    padding-bottom:30px;
    background-color:#fbfbfb;
    position: absolute; right: 0px; bottom: 0px;
    border-top: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
    opacity: .9;
    min-width:30%;
}

#footer a { 
    color:#666;
    font-weight:700;
}

input[type=text] {
		 padding: .18em;
}

button {
       border: solid thin;
       color:#333;
}
